.simple-form-select {
    display: flex;
    flex-direction: column;
    gap: 8px;
    border: none;
    padding: 0;
    margin: 0;
}

.simple-form-select label {
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    color: #ffffff;
}

.simple-form-select select {
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    border-radius: 8px;
    background-color: transparent;
    border: 1px solid #4A4949;
    color: #FFFFFF;
    padding: 8px 16px;
}
