.simple-form {
    background-color: #212121;
    padding: 32px 28px;
    border-radius: 16px;
    width: 384px;
    max-width: 90%;
    margin: 64px auto;
}

.simple-form div {
}

.simple-form .form-body {
    border: none;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.simple-form .form-footer {
    margin-top: 32px;
    text-align: center;
}